%div
  %h1 Available Tasks
  %table.table
    %thead
      %tr
        %td Name
        %td Description
        %td
    %tbody
      - for task in @tasks
        %tr
          %td= task.name
          %td= task.description
          %td
            %button.btn.btn-mini Execute
